.peculiarities__title {
    font-weight: 700;
    font-size: 14px;
    line-height: var(--text-height);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    padding-bottom: 10px;
  }
  
  .peculiarities__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-text);
  }
  
  .rectangle {
    width: 279px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  
  .rectangle__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  